.header {
  height: calc(80vh - 82px);
  background-image: url("../../assets/images/header-image-pots.png");
  background-size:contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 8.5rem;
  padding-left: 8.5rem;

  .ingress {
    font-size: 1.5rem;
  }
}

.forest-green {
  background-color: var(--forest);
}

.section-block {
  padding: 5rem;
  .products-wrapper {
    padding: 0;
    flex-wrap: nowrap;
  }
}

.products-wrapper {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
  }

.product-card {
    width: 290px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    transition: all 0.2s;
    
    .product-image-wrapper {
      transition: all ease-in-out 0.2s;
        img {
          border-radius: 2px;
          width: 100%;
          height: 340px;
          object-fit: cover;
          object-position: top;
        }
    }

    .product-image-wrapper:hover {
      transform: scale(1.015);
    }
      
      .product-card-details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: var(--white);
        border-radius: 2px;
        padding: 1.5rem;
        height: 100%;

        .product-price {
          font-size: 1.5rem;
          font-weight: 400;
          color: var(--redwood);
        }

        .product-card-bottom {
          margin-top: auto;
          padding-top: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            background-color: transparent;
            padding: 0;
          }

          img {
            transition: all ease 0.2s;
          }

          img:hover {
            transform: scale(1.05);
            border-radius: 2px;
          }
        }
      }

    /* .add-to-cart-button {

    } */

    /* .category {
        border: solid 1px plum;
        border-radius: 4px;
        padding: 6px 18px;
        width: fit-content;
        height: fit-content;
        align-self: center;
        p {
            font-weight: 500;
            padding: 0;
        }
    } */
  }

  

  @media only screen and (max-width: 600px) {
    .header {
      padding-top: 3rem;
      padding-left: 3rem;
    }
  }