
nav {
    padding: 1rem 2rem;
    border-bottom: solid white 1px;
    ul {
      margin: 0;
      display: flex;
      gap: 3rem;
      justify-content: space-between;
      align-items: center;
      padding-left: 0;
  
      .nav-links {
        display: flex;
        gap: 3rem;
      }
  
      li {
        list-style: none;
        a {
          color: white;
          transition: all 0.2s;
        }
      }
    }
  }

  .cart-icon {
    width: 32px;
    height: 32px;
    color: white;
  }
  
  .cart-quantity {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart-button {
    position: relative;
    background: none;
    cursor: pointer;
  }