@import url('https://fonts.googleapis.com/css2?family=Combo&family=Dosis:wght@200..800&display=swap');
@import url(styles/variables.css);
:root {
  font-family: Dosis, sans-serif;
  font-weight: 300;

  color: var(--rock);
  background-color: var(--greige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
}

main {
  max-width: 1600px;
  /* margin: 0 auto; */
  flex: 1;
  padding: 0 6rem;
}

a {
  font-family: Combo, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}


h1, h2, h3 {
  font-family: Combo, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.05;
  text-transform: uppercase;
  color: var(--redwood);
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--honey);
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--sage);
}

p {
  margin: 0;
  letter-spacing: 0.25px;
  font-size: 1rem;
}


button {
  border-radius: 2px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--redwood);
  color: white;
  cursor: pointer;
  transition: all ease 0.25s;
}
button:hover {
  transform: scale(1.025);
}
/* button:focus,
button:focus-visible {
  outline: 4px auto #4dc2a1;
} */


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}
